.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
h3{
    font-family: arial, roboto, sans-serif;
    font-size: 24px;
    color: cyan;
}
#Strong{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: size=32px;
    color: blue;
    padding: 40px;
    text-align: center;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:#cf5ffc;
}
#bold_green_label{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #018001;
}
#bold_ital_gold_label{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: gold;
}
#cyan_bold_label{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #17ffff;
}
.paragraph_color{
    color: gold;
}
label{
    font-weight: bold;
    color: #17ffff;
}
