<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Tasks</h1>

    <h3>ToDo:</h3>

    <ul>
        {% for task in tasks %}
            {% if task.completed == False %}
            <li><a href="{% url 'task' task.task_id %}">{{ task.task }} </a></li>
            {% endif %}
        {% endfor %}
    </ul>



    <h3>Finished:</h3>

    <ul>
        {% for task in tasks %}
            {% if task.completed == True %}
            <li><a href="{% url 'task' task.task_id %}">{{ task.task }} </a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <form action="{% url 'todo' %}" method="POST">
        {% csrf_token %} {{ form }} 
        <input type="submit" name="create" value="Create" />
    </form>
    
    <br><form action="{% url 'notes' %}">
        <input type="submit" value="Add a Note" />
    </form>


</body>
</html>